<script type="text/javascript">
  function ValidateEmail() {
      var email = document.getElementById("txtEmail").value;
      var submitBtn = document.getElementById("submitBtn");
      var lblError = document.getElementById("lblError");
      lblError.innerHTML = "";
      var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
      if (!expr.test(email)) {
          lblError.innerHTML = "Invalid email address.";
      } else {
        lblError.innerHTML = "✅";
        submitBtn.disabled = false;
      }
  }
</script>
</body>
</html>